@model MVC7amSkyBlueBatch.Models.empDepart

@{
    ViewBag.Title = "GetDataViewModel";
}

<h2>GetDataViewModel</h2>

@*@Html.DisplayNameFor(s=>s.EmpId):
@Model.emp.EmpId <span>-</span>@Model.dept.DeptId
@Html.DisplayNameFor(s => s.EmpName):
@Model.EmpName<br />
@Html.DisplayNameFor(s => s.EmpSalary):
@Model.EmpSalary<br />*@


@*
    asjdklfajkls
    
    *@


@Model.emp.EmpId 
@Model.dept.DeptId
